*{
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
body{
    background-color: #f6f6f6;
}
h1{
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
    color: #2a2a2a;
}
.container{
    width: 80vmin;
    padding: 50px 30px;
    background-color: #ffbb64;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}
.stats{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.stats span{
    font-size: 26px;
    color: #f6f6f6;
    font-weight: 600;
}
#quote{
    text-align: justify;
    margin: 50px 0 30px 0;
    color: #2a2a2a;
}
textarea{
    resize: none;
    width: 100%;
    border-radius: 5px;
    padding: 10px 5px;
    font-size: 16px;
}
button{
    margin: 0 auto;
    width: 100%;
    margin-top: 20px;
    background-color: #e81c4e;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}
.result{
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
}
.wrapper{
    display: flex;
    justify-content: space-between;
}
.wrapper span{
    font-weight: 600;
}
.success{
    color: #44b267;
}
.fail{
    color: red;
    
}